body {
  margin: 0;
  font-family: Arial;
  line-height: 1.5;
}

.header {
  background-color: #069;
  color: white;
  padding: 1.5rem;
}

.header-title {
  text-align: center;
  margin: 0;
}

.section {
  padding: 1rem 2rem;

  /* line-height: 1.5; */
}

.section-content {
  padding-left: 1rem;
  /* margin: 0; */
}

.section-accent {
  background-color: #069;
  color: white;
}

.skills-section {
  font-size: 1.25rem;
  font-style: italic;
}
.skills-section,
.project-section {
  list-style: none;
  margin: 0;
}

.project-list-item {
  color: #777;
  margin-bottom: 1rem;
}

.project-list-item:last-child {
  margin: 0;
}

.contact-section {
  margin: 2rem 0;
}
.input {
  outline: none;
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  font-family: inherit;
  line-height: inherit;
}

.input:focus {
  border: 1px solid #069;
  box-shadow: 0 0 5px 0 #069;
}

.input-no-resize {
  resize: none;
}

.btn {
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.3em;
  color: white;
  background-color: hsl(200, 100%, 30%);
  border: 1px solid hsl(200, 100%, 10%);
}

.btn:hover,
.btn:focus {
  background-color: hsl(200, 100%, 20%);
  box-shadow: 0 0 5px 0 hsl(200, 100%, 10%);
}
.footer {
  background-color: #069;
  text-align: center;
  color: white;
  padding: 1.5rem;
  font-size: 1.25rem;
}
