* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  align-items: stretch;
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

img {
  width: 100%;
  border: 1px solid white;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}
